.home {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('/public/eduAction.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    padding: 10px 20px; 
}


header nav {
    display: flex;
    gap: 25px; 
}

header nav a {
        font-size: 18px;
        color: #05386b;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px; 
        transition: color 0.3s;
        border-radius: 5px;    
}
header nav a {
    line-height: 50px; 
}

header nav a:hover {
    color: white; 
    background-color: #05386b; 
    cursor: pointer; 
}
.about-box h1 {
    text-shadow: 2px 2px 4px rgba(66, 48, 163, 0.893); 
    text-decoration: underline; 
}

.about-box {
    background-color: #d8dee6;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}
.about-box p {
    line-height: 1; 
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 12px; 
    width: 100%; 
    position: relative;
}


.social-icons {
    display: flex;
    justify-content: center;
    margin: 10px 0; 
}

.social-icons img {
    width: 30px; 
    height: auto; 
    margin: 0 10px; 
    cursor: pointer; 
}

.espace-parents {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    background-color: #05386b; 
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

.espace-parents a {
    text-decoration: none;
    color: inherit; 
    display: flex;
    align-items: center;
}

.espace-parents img {
    width: 20px; 
    height: 20px;
    margin-right: 8px; 
}

.espace-parents:hover {
    background-color: #2d6a9f;
    color: #f9f9f9; 
    cursor: pointer;
}
.logo {
    width: 130px; 
    height: auto;
    position: relative; 
    z-index: 10; 
    margin-right: 30px; 
    margin-bottom: 10px; 
}

    
